body {
	background-color: #1352A2;
}

a {
	text-decoration: none;
	color: #EDEDEA;
}

#container {
	background-color: #db3340;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	
	color: #EDEDEA;
}

#title {
	text-align: center;
}

#titleSeparator {
	width: 95%;
	height: 10px;
	margin: auto;
	background-color: #1352A2;
	border-radius: 25px;
}

#separator {
	width: 95%;
	height: 1px;
	margin: auto;
	background-color: #1352A2;
	border-radius: 25px;
}

.bibliography {
	text-align: center;
	font-size: 25px;
	margin: 25px;
}