/*
	Color codes were #8 on this page:
		http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
*/

body {
	background-color: #1352a2;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#container {
	background-color: #db3340;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	
	color: #ededea;
}

#container h1 {
	margin: auto;
	text-align: center;
}

#separator {
	width: 95%;
	height: 1px;
	margin: auto;
	background-color: #008BBA;
	border-radius: 25px;
}

.imagedisplay {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex: 1;
	
	flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: center;
}

#introimage1, #introimage2 {
	height: 200px;
	width: 250px;
	margin: auto;
}

#introvideo {
	height: 200px;
	padding: 20px;
	margin: auto;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: center;
}

.spacer {
	margin: auto;
}

.main {
	
}

.topic {
	margin: auto;
	color: #ededea;
}

.subtopic {
	margin: auto;
}

.topicPicture {
	margin: auto;
}

#footer {
	height: 20px;
	width: 95%;
	background-color: black;
	margin: auto;
}

#copyright {
	color: white;
	text-align: right;
}

/*			Flexbox stuff			*/
.topic {
	display: flex;
}

.subtopic {
	
}

.topicPicture {
	
}
