/*
	Color codes were #8 on this page:
		http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
*/

body {
	background-color: #DE4D4E;
}

a {
	text-decoration: none;
}

#container {
	background-color: #55BBBC;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

#container h1 {
	margin: auto;
	text-align: center;
}

#separator {
	width: 95%;
	height: 1px;
	margin: auto;
	background-color: #008BBA;
	border-radius: 25px;
}

#introimage1, intoimage2 {
	margin: auto;
}

.introimage {
	height: 100px;
}
